{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <title>Social Dashboard</title>
</head>
<body style="padding-top: 40px">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav pull-right">
            {% block navlogin %}
            <li>
            {% if user.is_authenticated %}
                <a href="{% url 'socialuser|logout' %}">Log out</a>
            {% else %}
                <a href="{% url 'socialuser|login' %}?next=%2F">Log in</a>
            {% endif %}
            </li>
            {% endblock %}
        </ul>
    </div>
</div>
{% block body %}{% endblock %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
